__pycache__
taming
log
**/log
logs
**/logs
esc50.zip
ESC-50-master
*.wav
ckpt
lightning_logs
mlx_submit_*
job_queue.sh
*.txt
*.cleaned
audiocaps_train.json
dataset
checkpoints
*.tar
condor*
wandb
audioldm_train/modules/fit
core*
.vscode
compute_clap.py
cal_clap_score.py
run_logs
samples