body {
  font-family: 'GT Ultra', sans-serif !important;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #1f1e1d;
  background-color: white;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin: 5px 0;
}

.dnerf {
  font-variant: small-caps;
}

.teaser, .inversion {
  padding-top: 0;
  padding-bottom: 3rem;
  width: 1000px;
  margin: 0 auto;
  font-family: 'GT Ultra', sans-serif;
}

.publication-title {
  font-size: 48pt;
  padding-top: 150px;
  font-weight: bold;
}

.publication-banner video {
  width: 100%;
  object-fit: cover;
}

.publication-authors {
  font-family: 'GT Ultra', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors a {
  color: rgba(0, 85, 150) !important;
  font-size: 24px; /* Default size for small devices */
}


.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image, #interpolation-image-wrapper img {
  width: 100%;
  border-radius: 5px;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.cit {
  background-color: rgba(26, 25, 31, 0.05);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Code', monospace;
}

.cit_cont {
  display: flex;
}

.collabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 100px;
}

.collabs img {
  height: 70px;
}

.collabs img[src$="rice.svg"] {
  height: 50px;
}
.snap {
  /* display: flex; */
  align-items: center;
}

.snap span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
}


.container {
  width: 80% !important;
  max-width: none !important;
}

.paper td {
    padding: 0px 20px; /* Increase horizontal padding for more column space */
}
.paper img{
  /* width:140px; */
  width: 200px;
  height: auto;
  /* margin: 0 50px; */
  /* margin-right: 100px; */
}

.models {
  max-width: 2000px;
  margin: 50px 0;
}

.models-container {
  display: flex;
  flex-wrap: wrap;
}

.model {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 300px;
  max-width: 50%;
}

.model img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
}

.models p{
  font-size: 22px;
}

.right-model{
  padding-top: 50px;
}
.right-model p{
  padding-left: 20px;
  padding-top: 50px;
}

.left-model p{
  padding-right: 20px;
}

.lead {
  text-align: justify;
  font-size: 26px;
  width: 100%;
  align-self: flex-end;
}

#circlecnv, #topcnv, .visualizer, .topBar {
  z-index: -1;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#topcnv, .topBar {
  opacity: .65;
}

.resources {
  text-align: center;
  margin-top: 20px;
}

.resource-item {
  display: inline-block;
  margin: 0 20px;
}

.resource-icon {
  margin-bottom: 6px;
  opacity: 0.8;
}

.resource-icon:hover {
  opacity: 1;
}

.resource-text {
  font-family: 'GT Ultra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.improvements {
  margin: 50px 0;
}
.abstract-method-section {
  background-color: #f8f8f8;
  border-left: 5px solid #0b2f9c;
  padding: 10px;
  margin: 50px 0;
}

.abstract-method-section h2 {
  font-size: 160%;
  color: #333333;
  margin-top: 20px;
}

.abstract-method-section p {
  font-size: 24px;
  text-align: justify;
  margin: 0;
}

.paper-btn {
  text-align: center;
  display: inline-block;
  padding: 8px 16px;
  border-width: 0;
  outline: none;
  border-radius: 10px;
  background-color: #4e4e50;
  color: white !important;
  font-weight: 350;
  margin-bottom: 10px;
  font-size: 24px;
}

.paper-btn-parent {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.paper-btn:hover {
  opacity: 0.80;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.video-item video {
  width: 100%;
  display: block;
}

.video-caption {
  text-align: center;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.7), rgba(25, 25, 25, 0.9));
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.video-item:hover .video-caption {
  opacity: 1;
}

/* #fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFC00;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.left-content, .right-content {
  display: flex;
  align-items: center;
}

.left-content {
  flex-grow: 1;
  justify-content: flex-start;
  margin-right: 200px;
}

.right-content {
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-link a {
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 28px;
  font-weight: 600;
}

.nav-link a:hover {
  background-color: #bdba0e;
  border-radius: 4px;
} */

#fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFC00;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.left-content, .right-content {
  display: flex;
  align-items: center;
}

.left-content {
  flex-grow: 1;
  justify-content: flex-start;
}

.right-content {
  justify-content: flex-end;
}

.nav-link a {
  color: #000000;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 28px;
  font-weight: 600;
}

.nav-link a:hover {
  background-color: #bdba0e;
  border-radius: 4px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .title {
    font-size: 20px !important;
  }
  .nav-links {
    display: none; /* Hide the navigation links by default on mobile */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #FFFC00;
    width: 100%;
    text-align: right;
  }

  .nav-links .nav-link {
    padding: 10px;
    border-bottom: 1px solid #000;
  }

  .nav-link a {
    font-size: 22px;
    padding: 8px 10px;
  }

  #menu-button {
    display: block;
    font-size: 30px;
  }

  .left-content {
    margin-right: auto;
  }

  .right-content {
    justify-content: flex-end;
    width: auto;
  }

  .abstract-method-section p {
    font-size: 16px;
    text-align: justify;
    margin: 0;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .nav-links {
    display: flex; /* Display the navigation links in a horizontal layout on wider screens */
  }

  #menu-button {
    display: none; /* Hide the hamburger menu button on wider screens */
  }
}





.notification-box {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #FFD700;
  background-color: #FFFFE0;
  color: #333;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  /* display: flex; */
  justify-content: left;
  align-items: center;
  width: fit-content;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

:root {
  --nav-height: 50px;
}

@media (max-width: 480px) {

  .right-model p{
    padding-left: 0px;
    align-items: center;
    /* text-align: center; */
  }
  
  .left-model p{
    padding-right: 0px;
    align-items: center;
    
    /* text-align: center; */
  }

  .models p{
    font-size: 14px;
  }
  .collabs img {
    height: 10vw;
  }
  .collabs img[src$="rice.svg"] {
    height: 8vw;
    margin-bottom: 14px;
  }
  
  .collabs{
  display: inline;
  }

  .resources {
    margin-top: 10px; /* Reduce margin at the top for small devices */
  }
  .resource-item {
    display: block; /* Stack items vertically to avoid clutter */
    margin: 10px auto; /* Center and space out vertically */
  }
  .resource-icon {
    width: 10vw; /* Further adjust icon size for very small screens */
  }
  .resource-text {
    font-size: calc(12px + 2vw); /* Larger base font size for better readability */
  }
}

@media (max-width: 768px) {
  .models p{
    font-size: 14px;
  }
  .paper-authors{
    font-size: 10px !important;
  }

  :root {
    --nav-height: 60px;
  }
  .container {
    width: 100% !important; /* Ensures container takes full width on small screens */
  }
  .nav-link a {
    font-size: 20px;
  }
  .notification-box {
    flex-direction: column;
  }
  .publication-authors a {
    font-size: 18px;
  }
  .collabs img {
    height: 10vw;
  }
  .collabs img[src$="rice.svg"] {
    height: 8vw;
  }
  .snap span {
    font-size: 18px;
  }

  .video-caption {
    font-size: 18px;
  }
  .video-item video {
    height: auto;
  }

  .footer .icon-link, .publication-title {
    font-size: 26px; /* Smaller font size on mobile */
  }

  .teaser .hero-body, .inversion {
    padding-bottom: 1.5rem;
  }

  .model {
    min-width: 100%; /* Full width on small screens */
  }

  .resource-item {
    margin: 0 5px; /* Smaller margins for compact spaces */
  }
  .resource-icon {
    width: 8vw; /* Slightly larger to maintain usability on small devices */
  }
  .resource-text {
    font-size: calc(12px + 1vw); /* Increase base font size slightly for readability */
  }
  .notification-box {
    font-size: calc(8px + 1vw); /* Increase base font size slightly for readability */
  }

  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .video-caption {font-size: 14px;}


}

@media (hover: none) and (pointer: coarse) {
  .video-item:hover {
    /* Disable any hover effects for mobile devices */
    pointer-events: none;
  }
}




/* @media (min-width: 480px) {
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .video-caption {font-size: 18px;}
}

@media (min-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .video-caption {font-size: 18px;}
}

/* Large devices (desktops) */
/* @media (min-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* Extra large devices (large desktops) */
/* @media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

Very large screens 
@media (min-width: 1600px) {
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
} */
html {
  scroll-padding-top: var(--nav-height);
}

body {
  padding-top: var(--nav-height);
}
